.function-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 500px;
}

.function-block-buttons {
  display: flex;
  flex-direction: rows;
  gap: 50px;
  justify-content: center;
  margin: 20px auto 50px;
}

.function-block-buttons > div {
  flex: 1 1 100px;
}

.button {
  height: 40px;
  text-align: center;
  color: black;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  background-color: #94B4FA;
}

.button:hover {
  filter: brightness(1.2) contrast(1.05);
}

#mainBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  line-height: 100px;
  padding: calc(50vh - 195px) 0 calc(50vh - 195px);
  scroll-snap-type: y mandatory;
  scroll-snap-align: end;
}

#mainBlock-div-1 {
  font-size: 80px;
  font-weight: bolder;
}

#mainBlock-div-2 {
  font-size: 50px;
  font-weight: bolder;
}

.block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.block-div-1 {
  font-size: 30px;
}

.block-div-2 {

}

.rates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hr {
  margin: 0 auto 50px;
}

@media (max-width: 750px) {
  #mainBlock-div-1 {
    font-size: 60px;
    font-weight: bolder;
  }

  #mainBlock-div-2 {
    font-size: 40px;
    font-weight: bolder;
  }
}

@media (max-width: 630px) {
  #mainBlock {
    gap: 20px;
    line-height: 60px;
    padding: calc(50vh - 160px) 0 calc(50vh - 160px);
  }

  #mainBlock-div-1 {
    font-size: 40px;
    font-weight: bolder;
  }

  #mainBlock-div-2 {
    font-size: 24px;
    font-weight: bolder;
  }
}

@media (max-width: 379px) {
  #mainBlock {
    padding: 100px 0;
  }
}
