.function-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 500px;
}

.function-block-buttons {
  display: flex;
  flex-direction: rows;
  gap: 50px;
  justify-content: center;
  margin: 20px auto 50px;
}

.function-block-buttons > div {
  flex: 1 1 100px;
}

.button {
  height: 40px;
  text-align: center;
  color: black;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  background-color: #94B4FA;
}

.button:hover {
  filter: brightness(1.2) contrast(1.05);
}

.hr {
  margin: 100px auto 50px;
}

@media (max-width: 900px) {
  .function-block-buttons {
    gap: 10px;
  }
}
